/*header*/

header {
  display: grid;
  position: relative;
  align-items: center;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #fff;
}

.top-logo__desktop {
  display: none;
}

.header {
  display: flex;
  position: absolute;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

nav {
  display: none;
  position: fixed;
  top: 0px;
  border-style: solid;
  border-color: #fff;
  z-index: 1000;
  background-color: #0a3641;
}

.hamburger-menu__label,
.shopping-cart {
  margin: 25px;
  width: 25%;
}

.shopping-cart__white {
  display: none;
}

.nav-closer {
  display: flex;
  align-items: baseline;
  font-size: 2rem;
  font-family: "open sans", Verdana, Tahoma, "Trebuchet MS", Arial, Helvetica;
}

#nav-closer {
  display: none;
}

.nav-closer img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

nav a,
.nav-closer,
nav h2 {
  color: #fff;
}

nav h2 {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  margin-bottom: 0px;
  margin-top: 10px;
}

nav li a {
  border-style: solid none;
  border-color: #fff;
  border-width: 1px;
  font-size: 2rem;
}

nav ul {
  display: flex;
  flex-direction: column;
  margin: 25px;
  padding: 0px;
}

nav img {
  width: 100%;
}

.search-field__wrapper {
  display: grid;
  background-color: #0a3641;
  grid-column: -1/1;
  width: 100%;
  padding: 4px 0px;
  height: 100%;
}

#search-field {
  width: 80%;
  justify-self: center;
}

.shopping-cart {
  justify-self: end;
}

.shopping-cart__white-wrapper {
  display: none;
}

.top-logo,
.top-logo__desktop {
  width: 100%;
  min-width: 120px;
  margin-bottom: 5px;
}

/*Global styles*/

body {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  height: 100vh;
  margin: 0px;
}

a {
  display: flex;
  text-decoration: none;
  font-family: "open sans", Verdana, Tahoma, "Trebuchet MS", Arial, Helvetica;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3 {
  font-family: "tinos", Georgia, "open sans", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: bold;
}

p {
  font-family: "open sans", Verdana, Tahoma, "Trebuchet MS", Arial, Helvetica;
  font-weight: lighter;
}

.marketing-text__wrapper {
  display: flex;
  margin-left: 25px;
}

.product-marketing-text__wrapper {
  color: #fff;
  background-color: rgba(10, 54, 65, 80%);
  font-size: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.marketing-text,
.marketing-text__bold {
  font-family: "open sans", Verdana, Tahoma, "Trebuchet MS", Arial, Helvetica;
}

.home-marketing-text__bold,
.home-marketing-text {
  display: none;
  margin: 5px 10px 5px 1px;
}

.marketing-text__bold {
  font-weight: bold;
}

.products-marketing-text__bold,
.products-marketing-text {
  display: flex;
  margin: 5px 5px 5px 1px;
}

.cta-main {
  font-weight: bolder;
  color: #fff;
  background-color: rgba(10, 54, 65, 80%);
  border-style: solid;
  border-color: #fff;
  border-radius: 10px;
  text-transform: uppercase;
  justify-content: center;
  position: absolute;
  top: 50%;
}

.cta-home {
  padding: 0.5em 2.5em;
  font-size: 1rem;
  min-width: 120px;
}

.cta-products {
  padding: 0.2em 1.5em;
  min-width: 4.2em;
  font-size: 1rem;
}

nav li a:hover,
.cta-main:hover,
.cta__heading:hover {
  background-color: #fff;
  color: #0a3641;
}

/* main content */

main {
  display: flex;
  flex-direction: column;
}

.home-heading__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin-top: 0px;
}

.home-outlet__text,
.home-new_arrivals__text,
.home-heading__text {
  color: #fff;
  background-color: rgba(10, 54, 65, 80%);
  width: 100%;
}

.home-outlet__text,
.home-new_arrivals__text {
  display: none;
  flex-direction: column;
  padding: 12px 0px;
}

.home-heading__text p,
.home-heading__text h1 {
  margin: 0px;
}

.home-heading__text p {
  font-size: 1rem;
}

.home-heading__text h1 {
  font-size: 2rem;
}

.home-heading {
  background-image: url(/images/homepage-header.jpg);
}

.home-new_arrivals {
  background-image: url(/images/new-arrivals.jpg);
}

.home-outlet {
  background-image: url(/images/outlet-image.jpg);
}

.home-heading,
.home-new_arrivals,
.home-outlet {
  position: relative;
  margin: 5px 0px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*footer*/

footer {
  background-color: #0a3641;
  margin: 5px 0px;
  padding: 5px;
}

footer a {
  color: #fff;
  font-family: "open sans", Verdana, Tahoma, "Trebuchet MS", Arial, Helvetica;
  font-weight: bolder;
  font-style: italic;
}

footer ul {
  display: inline-flex;
}

footer li {
  margin-right: 30px;
}

/*Product page*/

.products-heading {
  display: flex;
  flex-direction: row;
  min-height: 150px;
  margin-top: 5px;
}

.products-heading__img-men {
  background-image: url(../images/men-image.jpg);
}

.products-heading__img-women {
  background-image: url(../images/women-image.jpg);
}

.products-heading__img-women,
.products-heading__img-men {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
